textarea {
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  border-bottom: none;
  border-color: rgba(0, 0, 0, 0.15);
}

textarea {
  resize: none !important;
}

textarea:focus {
  outline: none;
}

.red-btn {
  border-radius: 1.5rem !important;
  border: none;
  background-color: rgb(195, 54, 89) !important;
  text-transform: none !important;
}
